body {
  background-image: url("../Illustrations_Logo/All_pages/arrière_plan.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--color-noir-bleu);
  /* background-position: center; */
  /* background-size: cover; */
}
