body {
  background-image: url("../Illustrations_Logo/All_pages/arrière_plan.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--color-noir-bleu);
  /* background-position: center; */
  /* background-size: cover; */
}

/* style de la section 1 */

#section1 {
  width: 100%;
  margin: 0 auto;
  /* margin-top: 30px; */
  display: inline-block;
}
#section1 .hero {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
}

.titre-acceuil {
  width: 70%;
  height: 30%;
  margin: 0 auto;
  display: block;
}

.hero-image {
  width: 50%;
}
.les-heros {
  width: 100%;
  display: flex;
  background-color: var(--color-noir-bleu);
}
.les-heros .un-hero {
  display: flex;
}
/* style du concernant la naissane de l'hero */
#section2 {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;

  padding-top: 10%;
}
.biographie-hero {
  display: flex;
  justify-content: space-between;
}
.description {
  width: 50%;
}
.image-gauche {
  width: 40%;
  text-align: center;
  margin-top: 100px;
  border-radius: 20px;
}
.bloc {
  width: 100%;
  height: 1000px;
  background-color: var(--color-blanc);
  border: none;
  border-radius: 20px;
}
.bloc img {
  position: relative;
  bottom: 80px;
}
.nom-hero {
  font-family: "Cantarell";
}
.groupe-bouton {
  margin-top: 10px;
  margin-bottom: 20px;
}
.groupe-bouton button {
  height: 30px;
  font-size: 15px;
  background-color: var(--color-Bleu);
  border: none;
  border-radius: 5px;
  color: var(--color-blanc);
  padding: 3px;
}
.text-uniq {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}
.texte-autor {
  font-family: "Cantarell";
  font-size: 16px;
  color: var(--color-noir-bleu);
  margin-bottom: 10px;
}
.texte-autor .bloder {
  font-weight: bolder;
}
.image-ilustra {
  margin-top: 150px;
}

/* style de la section qui concerne a l */
#section3 {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10%;

  background-size: auto;
  background-size: 1000px 1000px, cover;
}
/* #section3 .card-font {
  width: 100%;
  height: 50%;
  background-image: url("../Illustrations_Logo/Accueil/Pantherhome7.png");
  background-repeat: no-repeat;
} */
.contact {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-blanc);
  color: var(--color-noir-bleu);
  border-radius: 30px;
}
